body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
/*Main content section*/
.main-content-section {
  padding: 100px 90px;
}
.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}
/*About My section*/
.about-me-section {
  margin: 0 0 40px 0;
}

.sidebar-section {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0;
}

.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin: 0 0 20 0 px;
}

.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin: 0 0 25px 0;
}

.about-me-description {
  width: 610px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
/*My project section*/

.my-projects-section {
  margin: 0 0 50px 0;
}

.my-projects-list {
  padding: 0 0 0 17px;
}

.my-projects-item {
  color: #000;
  font-weight: bold;
}
.my-projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-projects-link-git {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}
.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}
.my-projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

/*my-work-expirence*/
.My-work-expirence-section {
  margin-bottom: 45px;
}

.my-work-expirence-company {
  color: #fb6d3a;
}

.My-work-expirence-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
}

.My-work-expirence-period {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  color: #0d0505;
  margin: 0 0 10px 0;
}

.My-work-expirence-divider {
  color: #000;
}

.My-work-expirence-duties {
  padding: 0 0 0 18px;
  list-style: none;
}
.My-work-expirence-duty,
.about-project-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.contacts-section,
.tech-skills-section,
.soft-skills-section {
  margin: 50px 0 0 40px;
}

.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
}

/* Contacts section */
.contacts-section-type {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 7px;
}

.contacts-section-link {
  color: white;
  font-style: normal;
  font-weight: normal;
  font-weight: 14px;
  line-height: 24px;
}
/* My education */

.my-education-header {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
}
.my-education-university {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}
.my-education-prof {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
/* tech skills section */

.soft-skills-list,
.tech-skills-list {
  padding: 0 0 0 17px;
}

.soft-skills-item,
.tech-skills-item,
.language-skills-item {
  color: #fb6d3a;
}

.tech-skills-item-text,
.language-skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.My-work-expirence-com {
  margin: 0 15px 0 0;
}
.photo {
  color: red;
  text-align: center;
}

.language-skills-section {
  margin-left: -15px;
}
.language-skills-list {
  margin-left: -25px;
  list-style: disc;
}

.icecream,
.filmoteka,
.technologies,
.about-project {
  color: #fb6d3a;
}
.link {
  margin-left: -8px;
}
